.container {
  margin-left: 200px;
}

.req-container {
  padding: 20px;
  margin-top: 100px;
  margin-right: 25px;
  margin-left: 25px;
  background-color: white;
  width: calc(100vw - 275px);
}

.req-detail-container {
  height: 825px;
  overflow-y: scroll;
}

.note-container {
  border-left: 1px solid #d5d5d5;
  height: 675px;
  overflow-y: scroll;
  margin-bottom: 10px;
  padding-top: 20px;
}

table {
  margin-bottom: 25px;
}

mat-divider {
  margin-top: 25px;
  margin-bottom: 25px;
}
button {
  margin-left: 10px;
}

.badge {
  margin-right: 5px;
}

.speech-bubble-admin {
  position: relative;
	background: #d3d3d3;
	border-radius: .4em;
  margin-bottom: 20px;
  width: 300px;
  padding: 5px;
  margin-left: 20px;
}

.speech-bubble-admin:after {
  content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #d3d3d3;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.speech-bubble-user {
  position: relative;
	background: #03a9f4;
	border-radius: .4em;
  margin-bottom: 20px;
  width: 300px;
  padding: 5px;
  margin-right: 20px;
}

.speech-bubble-user:after {
  content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #03a9f4;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}

.note-info {
  font-weight: bold;
}
