<div class="container">
  <div class="req-container">
    <div class="mat-headline">
      Requisition #{{req.REQ_No}} Details
      <button mat-raised-button color="primary" class="float-right" (click)="goBack()">Back To Req List</button>
    </div>
    <span class="badge badge-success font-weight-light"> Buyer: {{ req.Buyer }} </span>
    <span class="badge badge-dark font-weight-light"> Created: {{ getDateDifference(req.REQ_Date) }} days ago</span>
    <span class="badge badge-dark font-weight-light"> Approved: {{ getDateDifference(req.Approved_On) }} days ago</span>

    <mat-divider></mat-divider>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Ship To:</th>
          <th scope="col">Req ID</th>
          <th scope="col">Date</th>
          <th scope="col">Approved Requester</th>
          <th scope="col">Currency</th>
          <th scope="col">Fund</th>
          <th scope="col">Account</th>
          <th scope="col">Dept</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{ req.Ship_To.Description }}
            <br>
            {{ req.Ship_To.Address_1 }}
            <br>
            {{ req.Ship_To.City }}
            {{ req.Ship_To.State }},
            {{ req.Ship_To.Zip_Code }}
          </td>
          <td> {{ req.REQ_No }} </td>
          <td> {{ req.REQ_Date | date:'medium' }} </td>
          <td> {{ req.Approved_By }} </td>
          <td> {{ req.Currency }} </td>
          <td> {{ req.Fund }} </td>
          <td> {{ req.Account }} </td>
          <td> {{ req.Department.Number }} </td>
        </tr>
      </tbody>
    </table>

    <mat-divider></mat-divider>
    <div class="mat-headline">
      Lines
    </div>
    <mat-divider></mat-divider>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Ln/Schd</th>
          <th scope="col">Item</th>
          <th scope="col">Description</th>
          <th scope="col">Mfg ID</th>
          <th scope="col">Quantity</th>
          <th scope="col">UOM</th>
          <th scope="col">Price</th>
          <th scope="col">Ext. Amt</th>
          <th scope="col">Due Date</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let line of req.lines">
            <td> {{ line.Line_No }} - {{ line.Schedule_No }} </td>
            <td> {{ line.Item }}  </td>
            <td> Description </td>
            <td> {{ line.MFG_ID }} </td>
            <td> {{ line.Quantity }} </td>
            <td> {{ line.UOM }} </td>
            <td> {{ line.Line_Total | currency }}</td>
            <td> Ext amt </td>
            <td> {{ line.Due_Date | date:'medium' }} </td>
          </tr>
          <tr>
            <th scope="row">Total Requisition Amount: </th>
            <td colspan="8"> {{ addLines(req.lines) | currency }} </td>
          </tr>
      </tbody>
    </table>

    <mat-divider></mat-divider>
    <div class="mat-headline">
      Notes
    </div>
    <mat-divider></mat-divider>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">User</th>
          <th scope="col">Date</th>
          <th scope="col">Note</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="1"> NOTE PLACEHOLDER </td>
          <td colspan="1"> NOTE PLACEHOLDER </td>
          <td colspan="4"> NOTE PLACEHOLDER </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
