.container {
  margin-left: 200px;
}

.req-container {
  padding: 20px;
  margin-top: 100px;
  margin-right: 25px;
  margin-left: 25px;
  background-color: white;
}

.table-container {
  margin: 25px;
  height: 600px;
}

mat-tab-group {
  width: 100%;
}

mat-chip {
    transition: none !important;
    box-shadow: none !important;
}

table {
  overflow: scroll;
  width: 100%;
}

.action-chip {
  background-color: green;
}

.hold-chip {
  background-color: yellow;
}

.transmission-chip {
  background-color: red;
}
