<div class="container">
  <ul class="actionReqs collection">
    <li class="collection-item" *ngFor="let actionReq of actionReqs">
      {{actionReq.REQ_No}}
    </li>
  </ul>

  <ul class="transmissionReqs collection">
    <li class="collection-item" *ngFor="let transmissionReq of transmissionReqs">
      {{transmissionReq.REQ_No}}
    </li>
  </ul>

  <ul class="holdReqs collection">
    <li class="collection-item" *ngFor="let holdReq of holdReqs">
      {{holdReq.REQ_No}}
    </li>
  </ul>

  <ul class="allReqs collection">
    <li class="collection-item" *ngFor="let allReq of allReqs">
      {{allReq.REQ_No}}
    </li>
  </ul>
</div>
