<div class="container">
  <div class="req-container mat-elevation-z3">
    <div class="mat-display-1 float-left">
      Requisition List
  </div>
  <div class="float-right">
    <mat-form-field>
      <input matInput [(ngModel)]="searchText" placeholder="Search By REQ #" (click)="searchPageSize()">
    </mat-form-field>
  </div>
   <br style="clear:both" />
    <mat-chip-list>
      <mat-tab-group (selectedTabChange)="changeDataSource($event)" [(selectedIndex)]="selectedIndex">
        <mat-tab>
          <ng-template mat-tab-label>
            All
            <mat-chip *ngIf="allReqs != null" >{{allReqs.length }}</mat-chip>
          </ng-template>
          <div *ngIf="reqsLoaded" class="table-container">
           <table mat-table [dataSource]="dataSource | search : 'Req_ID' : searchText" class="mat-elevation" *ngIf="tempDataSource">

              <ng-container matColumnDef="color">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let all">
                  <div *ngIf="all.Transmitted === 'Y'">
                    <i class="material-icons transmissionColor">
                      lens
                    </i>
                  </div>
                  <div *ngIf="all.Hold_From_Further_Processing === 'Y'">
                    <i class="material-icons holdColor">
                      lens
                    </i>
                  </div>
                  <div *ngIf="all.Out_To_Bid === 'Y'" >
                    <i class="material-icons outColor">
                      lens
                    </i>
                  </div>
                  <div *ngIf="all.Transmitted === 'N' && all.Hold_From_Further_Processing ==='N' && all.Out_To_Bid === 'N'">
                    <i class="material-icons actionColor">
                      lens
                    </i>
                  </div>
                </td>
              </ng-container>

             <ng-container matColumnDef="flag">
               <th mat-header-cell *matHeaderCellDef> FLAG </th>
               <td mat-cell *matCellDef="let all">
                 <div>
                   <mat-checkbox [(ngModel)]="all.Req_Info.flag" (click)="changeFlag(all)"></mat-checkbox>
                </div>
               </td>
             </ng-container>

             <ng-container matColumnDef="Business Unit">
               <th mat-header-cell *matHeaderCellDef (click)="filterByBusinessUnit(allReqs)">
                <div *ngIf="filterBusinessUnitFlag === 0">
                  Business Unit
                </div>
                <div *ngIf="filterBusinessUnitFlag === 1">
                  Business Unit (C)
                </div>
                <div *ngIf="filterBusinessUnitFlag === 2">
                  Business Unit (F)
                </div>
                <div *ngIf="filterBusinessUnitFlag === 3">
                  Business Unit (N)
                </div>
                <div *ngIf="filterBusinessUnitFlag === 4">
                  Business Unit (I)
                </div>
               </th>
               <td mat-cell *matCellDef="let all"> {{all.Business_Unit}} </td>
             </ng-container>

             <ng-container matColumnDef="Req No">
               <th mat-header-cell *matHeaderCellDef> Req No </th>
               <td mat-cell *matCellDef="let all">
                 <a routerLink="../reqs/{{all.REQ_No}}/{{all.Business_Unit}}">
                   {{all.REQ_No}}
                 </a>
               </td>
             </ng-container>

             <ng-container matColumnDef="Days Since Creation">
               <th mat-header-cell *matHeaderCellDef (click)="sortByCreation()">
                 Days Since Creation
                 <span *ngIf="sortByCreationFlag === 0">
                   <i class="material-icons md-12">
                     arrow_downward
                   </i>
                 </span>
                 <span *ngIf="sortByCreationFlag === 1">
                   <i class="material-icons md-12">
                     arrow_upward
                   </i>
                 </span>
               </th>
               <td mat-cell *matCellDef="let all">
                 <div *ngIf="all.Req_Info?.REQ_Date !== null">
                   {{ getDateDifference(all.Req_Info.REQ_Date) }}
                </div>
              </td>
             </ng-container>

             <ng-container matColumnDef="Days Since Approval">
               <th mat-header-cell *matHeaderCellDef (click)="sortByApproved()">
                 Days Since Approval
                 <span *ngIf="sortByApprovalFlag === 0">
                   <i class="material-icons md-12">
                     arrow_downward
                   </i>
                 </span>
                 <span *ngIf="sortByApprovalFlag === 1">
                   <i class="material-icons md-12">
                     arrow_upward
                   </i>
                 </span>
               </th>
               <td mat-cell *matCellDef="let all">
                 <div *ngIf="all.Req_Info?.Approved_On !== null">
                   {{ getDateDifference(all.Req_Info.Approved_On) }}
                 </div>
               </td>
             </ng-container>

             <ng-container matColumnDef="Amount">
               <th mat-header-cell *matHeaderCellDef (click)="sortByAmount()">
                 Amount
                 <span *ngIf="sortAmountFlag === 0">
                   <i class="material-icons md-12">
                     arrow_downward
                   </i>
                 </span>
                 <span *ngIf="sortAmountFlag === 1">
                   <i class="material-icons md-12">
                     arrow_upward
                   </i>
                 </span>
               </th>
               <td mat-cell *matCellDef="let all"> {{ addLines(all.Req_Info?.lines) | currency }} </td>
             </ng-container>

             <ng-container matColumnDef="Requested Vendor">
               <th mat-header-cell *matHeaderCellDef> Requested Vendor </th>
               <td mat-cell *matCellDef="let all">
                 <div *ngIf="all.Req_Info?.Vendor !== null">
                   {{all.Req_Info.Vendor.Name}}
                 </div>
               </td>
             </ng-container>

             <ng-container matColumnDef="Description">
               <th mat-header-cell *matHeaderCellDef> Description </th>
               <td mat-cell *matCellDef="let all">
                 <div *ngIf="all.Req_Info?.Department !== null">
                   {{all.Req_Info.lines[0].More_Info | slice:0:20  }}
                 </div>
               </td>
             </ng-container>

              <ng-container matColumnDef="Comments">
                <th mat-header-cell *matHeaderCellDef> Comments </th>
                <td mat-cell *matCellDef="let all">
                  <div *ngIf="all.Req_Info?.User_Notes?.length > 0">
                    {{ all.Req_Info.User_Notes[all.Req_Info.User_Notes.length - 1].Note_Info | slice:0:20 }} <br>
                    <div *ngIf="all.Req_Info.User_Notes.length > 1">
                      {{ all.Req_Info.User_Notes[all.Req_Info.User_Notes.length - 2].Note_Info | slice:0:20 }}
                    </div>
                  </div>
                </td>
              </ng-container>

             <ng-container matColumnDef="FMIS">
               <th mat-header-cell *matHeaderCellDef> FMIS </th>
               <td mat-cell *matCellDef="let all"><a href="https://financials.mbta.com/psp/MTFP89_2/EMPLOYEE/ERP/c/REQUISITION_ITEMS.REQUISITIONS.GBL?Action=U&page=REQ_FORM&BUSINESS_UNIT=MBTAI&REQ_ID={{all.REQ_No}}" target="blank"><i class="material-icons"> link </i></a></td>
             </ng-container>

             <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
             <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
           </table>
         </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            Action
            <mat-chip class="action-chip" *ngIf="actionReqs != null" >{{actionReqs.length}} / {{allReqs.length}}</mat-chip>
          </ng-template>
          <div *ngIf="reqsLoaded" class="table-container">
           <table mat-table [dataSource]="dataSource | search : 'Req_ID' : searchText" class="mat-elevation">
             <ng-container matColumnDef="color">
               <th mat-header-cell *matHeaderCellDef></th>
               <td mat-cell *matCellDef="let action">
                 <i class="material-icons actionColor">
                   lens
                 </i>
               </td>
             </ng-container>

             <ng-container matColumnDef="flag">
               <th mat-header-cell *matHeaderCellDef> FLAG </th>
               <td mat-cell *matCellDef="let action">
                 <div>
                   <mat-checkbox [(ngModel)]="action.Req_Info.flag" (click)="changeFlag(action, MatCheckboxChange)"></mat-checkbox>
                </div>
               </td>
             </ng-container>

             <ng-container matColumnDef="Business Unit">
               <th mat-header-cell *matHeaderCellDef (click)="filterByBusinessUnit(actionReqs)"> Business Unit </th>
               <td mat-cell *matCellDef="let action"> {{action.Business_Unit}} </td>
             </ng-container>

             <ng-container matColumnDef="Req No">
               <th mat-header-cell *matHeaderCellDef> Req No </th>
               <td mat-cell *matCellDef="let action">
                 <a routerLink="../reqs/{{action.REQ_No}}/{{action.Business_Unit}}">
                   {{action.REQ_No}}
                 </a>
               </td>
             </ng-container>

             <ng-container matColumnDef="Days Since Creation">
               <th mat-header-cell *matHeaderCellDef (click)="sortByCreation()">
                 Days Since Creation
                 <span *ngIf="sortByCreationFlag === 0">
                   <i class="material-icons md-12">
                     arrow_downward
                   </i>
                 </span>
                 <span *ngIf="sortByCreationFlag === 1">
                   <i class="material-icons md-12">
                     arrow_upward
                   </i>
                 </span>
               </th>
               <td mat-cell *matCellDef="let action">
                 <div *ngIf="action.Req_Info?.REQ_Date !== null">
                   {{ getDateDifference(action.Req_Info.REQ_Date) }}
                 </div>
               </td>
             </ng-container>

             <ng-container matColumnDef="Days Since Approval">
               <th mat-header-cell *matHeaderCellDef (click)="sortByApproved()">
                 Days Since Approval
                 <span *ngIf="sortByApprovalFlag === 0">
                   <i class="material-icons md-12">
                     arrow_downward
                   </i>
                 </span>
                 <span *ngIf="sortByApprovalFlag === 1">
                   <i class="material-icons md-12">
                     arrow_upward
                   </i>
                 </span>
               </th>
               <td mat-cell *matCellDef="let action">
                 <div *ngIf="action.Req_Info?.Approved_On !== null">
                   {{ getDateDifference(action.Req_Info.Approved_On) }}
                 </div>
               </td>
             </ng-container>

             <ng-container matColumnDef="Amount">
               <th mat-header-cell *matHeaderCellDef (click)="sortByAmount()">
                 Amount
                 <span *ngIf="sortAmountFlag === 0">
                   <i class="material-icons md-12">
                     arrow_downward
                   </i>
                 </span>
                 <span *ngIf="sortAmountFlag === 1">
                   <i class="material-icons md-12">
                     arrow_upward
                   </i>
                 </span>
               </th>
               <td mat-cell *matCellDef="let action"> {{ addLines(action.Req_Info?.lines) | currency }} </td>
             </ng-container>

             <ng-container matColumnDef="Requested Vendor">
               <th mat-header-cell *matHeaderCellDef> Requested Vendor </th>
               <td mat-cell *matCellDef="let action">
                 <div *ngIf="action.Req_Info?.Vendor !== null">
                   {{action.Req_Info.Vendor.Vendor_Name}}
                 </div>
               </td>
             </ng-container>

             <ng-container matColumnDef="Description">
               <th mat-header-cell *matHeaderCellDef> Description </th>
               <td mat-cell *matCellDef="let action">
                 <div *ngIf="action.Req_Info?.Department !== null">
                   {{action.Req_Info.lines[0].More_Info | slice:0:20  }}
                 </div>
               </td>
             </ng-container>

             <ng-container matColumnDef="Comments">
               <th mat-header-cell *matHeaderCellDef> Comments </th>
               <td mat-cell *matCellDef="let action">
                 <div *ngIf="action.Req_Info?.User_Notes?.length > 0">
                   {{ action.Req_Info.User_Notes[action.Req_Info.User_Notes.length - 1].Note_Info | slice:0:20 }}
                   <div *ngIf="action.Req_Info.User_Notes.length > 1">
                     {{ action.Req_Info.User_Notes[action.Req_Info.User_Notes.length - 2].Note_Info | slice:0:20 }}
                   </div>
                 </div>
               </td>
             </ng-container>

             <ng-container matColumnDef="FMIS">
               <th mat-header-cell *matHeaderCellDef> FMIS </th>
               <td mat-cell *matCellDef="let action"><a href="https://financials.mbta.com/psp/MTFP89_2/EMPLOYEE/ERP/c/REQUISITION_ITEMS.REQUISITIONS.GBL?Action=U&page=REQ_FORM&BUSINESS_UNIT=MBTAI&REQ_ID={{action.REQ_No}}" target="blank"><i class="material-icons"> link </i></a></td>
             </ng-container>

             <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
             <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
           </table>
         </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            Hold
            <mat-chip class="hold-chip" *ngIf="holdReqs" >{{holdReqs.length}} / {{allReqs.length}}</mat-chip>
          </ng-template>
          <div *ngIf="reqsLoaded" class="table-container">
           <table mat-table [dataSource]="dataSource | search : 'Req_ID' : searchText" class="mat-elevation">
             <ng-container matColumnDef="color">
               <th mat-header-cell *matHeaderCellDef></th>
               <td mat-cell *matCellDef="let hold">
                 <i class="material-icons holdColor">
                   lens
                 </i>
               </td>
             </ng-container>

             <ng-container matColumnDef="flag">
               <th mat-header-cell *matHeaderCellDef> FLAG </th>
               <td mat-cell *matCellDef="let hold">
                 <div>
                   <mat-checkbox [(ngModel)]="hold.Req_Info.flag" (click)="changeFlag(hold, MatCheckboxChange)"></mat-checkbox>
                </div>
               </td>
             </ng-container>

             <ng-container matColumnDef="Business Unit">
               <th mat-header-cell *matHeaderCellDef (click)="filterByBusinessUnit(holdReqs)"> Business Unit </th>
               <td mat-cell *matCellDef="let hold"> {{hold.Business_Unit}} </td>
             </ng-container>

             <ng-container matColumnDef="Req No">
               <th mat-header-cell *matHeaderCellDef> Req No </th>
               <td mat-cell *matCellDef="let hold">
                 <a routerLink="../reqs/{{hold.REQ_No}}/{{hold.Business_Unit}}">
                   {{hold.REQ_No}}
                 </a>
               </td>
             </ng-container>

             <ng-container matColumnDef="Days Since Creation">
               <th mat-header-cell *matHeaderCellDef (click)="sortByCreation()">
                 Days Since Creation
                 <span *ngIf="sortByCreationFlag === 0">
                   <i class="material-icons md-12">
                     arrow_downward
                   </i>
                 </span>
                 <span *ngIf="sortByCreationFlag === 1">
                   <i class="material-icons md-12">
                     arrow_upward
                   </i>
                 </span>
               </th>
               <td mat-cell *matCellDef="let hold">
                 <div *ngIf="hold.Req_Info?.REQ_Date !== null">
                   {{ getDateDifference(hold.Req_Info.REQ_Date) }}
                 </div>
               </td>
             </ng-container>

             <ng-container matColumnDef="Days Since Approval">
               <th mat-header-cell *matHeaderCellDef (click)="sortByApproved()">
                 Days Since Approval
                 <span *ngIf="sortByApprovalFlag === 0">
                   <i class="material-icons md-12">
                     arrow_downward
                   </i>
                 </span>
                 <span *ngIf="sortByApprovalFlag === 1">
                   <i class="material-icons md-12">
                     arrow_upward
                   </i>
                 </span>
               </th>
               <td mat-cell *matCellDef="let hold">
                 <div *ngIf="hold.Req_Info?.Approved_On !== null">
                   {{ getDateDifference(hold.Req_Info.Approved_On) }}
                 </div>
               </td>
             </ng-container>

             <ng-container matColumnDef="Amount">
               <th mat-header-cell *matHeaderCellDef (click)="sortByAmount()">
                 Amount
                 <span *ngIf="sortAmountFlag === 0">
                   <i class="material-icons md-12">
                     arrow_downward
                   </i>
                 </span>
                 <span *ngIf="sortAmountFlag === 1">
                   <i class="material-icons md-12">
                     arrow_upward
                   </i>
                 </span>
               </th>
               <td mat-cell *matCellDef="let hold"> {{ addLines(hold.Req_Info?.lines) | currency }} </td>
             </ng-container>

             <ng-container matColumnDef="Requested Vendor">
               <th mat-header-cell *matHeaderCellDef> Requested Vendor </th>
               <td mat-cell *matCellDef="let hold">
                 <div *ngIf="hold.Req_Info?.Vendor !== null">
                   {{hold.Req_Info.Vendor.Vendor_Name}}
                 </div>
               </td>
             </ng-container>

             <ng-container matColumnDef="Description">
               <th mat-header-cell *matHeaderCellDef> Description </th>
               <td mat-cell *matCellDef="let hold">
                 <div *ngIf="hold.Req_Info?.Department !== null">
                   {{hold.Req_Info.lines[0].More_Info | slice:0:20  }}
                 </div>
               </td>
             </ng-container>

             <ng-container matColumnDef="Comments">
               <th mat-header-cell *matHeaderCellDef> Comments </th>
               <td mat-cell *matCellDef="let hold">
                 <div *ngIf="hold.Req_Info?.User_Notes?.length > 0">
                   {{ hold.Req_Info.User_Notes[hold.Req_Info.User_Notes.length - 1].Note_Info | slice:0:20 }}
                   <div *ngIf="hold.Req_Info.User_Notes.length > 1">
                     {{ hold.Req_Info.User_Notes[hold.Req_Info.User_Notes.length - 2].Note_Info | slice:0:20 }}
                   </div>
                 </div>
               </td>
             </ng-container>

             <ng-container matColumnDef="FMIS">
               <th mat-header-cell *matHeaderCellDef> FMIS </th>
               <td mat-cell *matCellDef="let hold"><a href="https://financials.mbta.com/psp/MTFP89_2/EMPLOYEE/ERP/c/REQUISITION_ITEMS.REQUISITIONS.GBL?Action=U&page=REQ_FORM&BUSINESS_UNIT=MBTAI&REQ_ID={{hold.REQ_No}}" target="blank"><i class="material-icons"> link </i></a></td>
             </ng-container>

             <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
             <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
           </table>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            Transmission
            <mat-chip class="transmission-chip" *ngIf="transmissionReqs">{{transmissionReqs.length}} / {{allReqs.length}}</mat-chip>
          </ng-template>
          <div *ngIf="reqsLoaded" class="table-container">
           <table mat-table [dataSource]="dataSource | search : 'Req_ID' : searchText" class="mat-elevation">
             <ng-container matColumnDef="color">
               <th mat-header-cell *matHeaderCellDef></th>
               <td mat-cell *matCellDef="let transmissionColor">
                 <i class="material-icons transmissionColor">
                   lens
                 </i>
               </td>
             </ng-container>

             <ng-container matColumnDef="flag">
               <th mat-header-cell *matHeaderCellDef> FLAG </th>
               <td mat-cell *matCellDef="let transmission">
                 <div>
                   <mat-checkbox [(ngModel)]="transmission.Req_Info.flag" (click)="changeFlag(transmission, MatCheckboxChange)"></mat-checkbox>
                </div>
               </td>
             </ng-container>

             <ng-container matColumnDef="Business Unit">
               <th mat-header-cell *matHeaderCellDef (click)="filterByBusinessUnit(transmissionReqs)"> Business Unit </th>
               <td mat-cell *matCellDef="let transmission"> {{transmission.Business_Unit}} </td>
             </ng-container>

             <ng-container matColumnDef="Req No">
               <th mat-header-cell *matHeaderCellDef> Req No </th>
               <td mat-cell *matCellDef="let transmission">
                 <a routerLink="../reqs/{{transmission.REQ_No}}/{{Business_Unit}}">
                   {{transmission.REQ_No}}
                 </a>
               </td>
             </ng-container>

             <ng-container matColumnDef="Days Since Creation">
               <th mat-header-cell *matHeaderCellDef (click)="sortByCreation()">
                 Days Since Creation
                 <span *ngIf="sortByCreationFlag === 0">
                   <i class="material-icons md-12">
                     arrow_downward
                   </i>
                 </span>
                 <span *ngIf="sortByCreationFlag === 1">
                   <i class="material-icons md-12">
                     arrow_upward
                   </i>
                 </span>
               </th>
               <td mat-cell *matCellDef="let transmission">
                 <div *ngIf="transmission.Req_Info?.REQ_Date !== null">
                   {{ getDateDifference(transmission.Req_Info.REQ_Date) }}
                 </div>
               </td>
             </ng-container>

             <ng-container matColumnDef="Days Since Approval">
               <th mat-header-cell *matHeaderCellDef (click)="sortByApproved()">
                 Days Since Approval
                 <span *ngIf="sortByApprovalFlag === 0">
                   <i class="material-icons md-12">
                     arrow_downward
                   </i>
                 </span>
                 <span *ngIf="sortByApprovalFlag === 1">
                   <i class="material-icons md-12">
                     arrow_upward
                   </i>
                 </span>
               </th>
               <td mat-cell *matCellDef="let transmission">
                 <div *ngIf="transmission.Req_Info?.Approved_On !== null">
                   {{ getDateDifference(transmission.Req_Info.Approved_On) }}
                 </div>
               </td>
             </ng-container>

             <ng-container matColumnDef="Amount">
               <th mat-header-cell *matHeaderCellDef (click)="sortByAmount()">
                 Amount
                 <span *ngIf="sortAmountFlag === 0">
                   <i class="material-icons md-12">
                     arrow_downward
                   </i>
                 </span>
                 <span *ngIf="sortAmountFlag === 1">
                   <i class="material-icons md-12">
                     arrow_upward
                   </i>
                 </span>
               </th>
               <td mat-cell *matCellDef="let transmission"> {{ addLines(transmission.Req_Info?.lines) | currency }} </td>
             </ng-container>

             <ng-container matColumnDef="Requested Vendor">
               <th mat-header-cell *matHeaderCellDef> Requested Vendor </th>
               <td mat-cell *matCellDef="let transmission">
                 <div *ngIf="transmission.Req_Info?.Vendor !== null">
                   {{transmission.Req_Info.Vendor.Vendor_Name }}
                 </div>
               </td>
             </ng-container>

             <ng-container matColumnDef="Description">
               <th mat-header-cell *matHeaderCellDef> Description </th>
               <td mat-cell *matCellDef="let transmission">
                 <div *ngIf="transmission.Req_Info?.Department !== null">
                   {{transmission.Req_Info.lines[0].More_Info | slice:0:20  }}
                 </div>
               </td>
             </ng-container>

             <ng-container matColumnDef="Comments">
               <th mat-header-cell *matHeaderCellDef> Comments </th>
               <td mat-cell *matCellDef="let transmission">
                 <div *ngIf="transmission.Req_Info?.User_Notes?.length > 0">
                   {{ transmission.Req_Info.User_Notes[transmission.Req_Info.User_Notes.length - 1].Note_Info | slice:0:20 }}
                   <div *ngIf="transmission.Req_Info.User_Notes.length > 1">
                     {{ transmission.Req_Info.User_Notes[transmission.Req_Info.User_Notes.length - 2].Note_Info | slice:0:20 }}
                   </div>
                 </div>
               </td>
             </ng-container>

             <ng-container matColumnDef="FMIS">
               <th mat-header-cell *matHeaderCellDef> FMIS </th>
               <td mat-cell *matCellDef="let transmission"><a href="https://financials.mbta.com/psp/MTFP89_2/EMPLOYEE/ERP/c/REQUISITION_ITEMS.REQUISITIONS.GBL?Action=U&page=REQ_FORM&BUSINESS_UNIT=MBTAI&REQ_ID={{transmission.REQ_No}}" target="blank"><i class="material-icons"> link </i></a></td>
             </ng-container>

             <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
             <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
           </table>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            Out To Bid
            <mat-chip class="out-chip" *ngIf="outToBidReqs">{{outToBidReqs.length}} / {{allReqs.length}}</mat-chip>
          </ng-template>
          <div *ngIf="reqsLoaded" class="table-container">
           <table mat-table [dataSource]="dataSource | search : 'Req_ID' : searchText" class="mat-elevation">
             <ng-container matColumnDef="color">
               <th mat-header-cell *matHeaderCellDef></th>
               <td mat-cell *matCellDef="let outColor">
                 <i class="material-icons outColor">
                   lens
                 </i>
               </td>
             </ng-container>

             <ng-container matColumnDef="flag">
               <th mat-header-cell *matHeaderCellDef> FLAG </th>
               <td mat-cell *matCellDef="let out">
                 <div>
                   <mat-checkbox [(ngModel)]="out.Req_Info.flag" (click)="changeFlag(out, MatCheckboxChange)"></mat-checkbox>
                </div>
               </td>
             </ng-container>

             <ng-container matColumnDef="Business Unit">
               <th mat-header-cell *matHeaderCellDef (click)="filterByBusinessUnit(outToBidReqs)"> Business Unit </th>
               <td mat-cell *matCellDef="let out"> {{out.Business_Unit}} </td>
             </ng-container>

             <ng-container matColumnDef="Req No">
               <th mat-header-cell *matHeaderCellDef> Req No </th>
               <td mat-cell *matCellDef="let out">
                 <a routerLink="../reqs/{{out.REQ_No}}/{{out.Business_Unit}}">
                   {{out.REQ_No}}
                 </a>
               </td>
             </ng-container>

             <ng-container matColumnDef="Days Since Creation">
               <th mat-header-cell *matHeaderCellDef (click)="sortByCreation()">
                 Days Since Creation
                 <span *ngIf="sortByCreationFlag === 0">
                   <i class="material-icons md-12">
                     arrow_downward
                   </i>
                 </span>
                 <span *ngIf="sortByCreationFlag === 1">
                   <i class="material-icons md-12">
                     arrow_upward
                   </i>
                 </span>
               </th>
               <td mat-cell *matCellDef="let out">
                 <div *ngIf="out.Req_Info?.REQ_Date !== null">
                   {{ getDateDifference(out.Req_Info.REQ_Date) }}
                 </div>
               </td>
             </ng-container>

             <ng-container matColumnDef="Days Since Approval">
               <th mat-header-cell *matHeaderCellDef (click)="sortByApproved()">
                 Days Since Approval
                 <span *ngIf="sortByApprovalFlag === 0">
                   <i class="material-icons md-12">
                     arrow_downward
                   </i>
                 </span>
                 <span *ngIf="sortByApprovalFlag === 1">
                   <i class="material-icons md-12">
                     arrow_upward
                   </i>
                 </span>
               </th>
               <td mat-cell *matCellDef="let out">
                 <div *ngIf="out.Req_Info?.Approved_On !== null">
                   {{ getDateDifference(out.Req_Info.Approved_On) }}
                 </div>
               </td>
             </ng-container>

             <ng-container matColumnDef="Amount">
               <th mat-header-cell *matHeaderCellDef (click)="sortByAmount()">
                 Amount
                 <span *ngIf="sortAmountFlag === 0">
                   <i class="material-icons md-12">
                     arrow_downward
                   </i>
                 </span>
                 <span *ngIf="sortAmountFlag === 1">
                   <i class="material-icons md-12">
                     arrow_upward
                   </i>
                 </span>
               </th>
               <td mat-cell *matCellDef="let out"> {{ addLines(out.Req_Info?.lines) | currency }} </td>
             </ng-container>

             <ng-container matColumnDef="Requested Vendor">
               <th mat-header-cell *matHeaderCellDef> Requested Vendor </th>
               <td mat-cell *matCellDef="let out">
                 <div *ngIf="out.Req_Info?.Vendor !== null">
                   {{out.Req_Info.Vendor.Vendor_Name }}
                 </div>
               </td>
             </ng-container>

             <ng-container matColumnDef="Description">
               <th mat-header-cell *matHeaderCellDef> Description </th>
               <td mat-cell *matCellDef="let out">
                 <div *ngIf="out.Req_Info?.Department !== null">
                   {{out.Req_Info.lines[0].More_Info | slice:0:20  }}
                 </div>
               </td>
             </ng-container>

             <ng-container matColumnDef="Comments">
               <th mat-header-cell *matHeaderCellDef> Comments </th>
               <td mat-cell *matCellDef="let out">
                 <div *ngIf="out.Req_Info?.User_Notes?.length > 0">
                   {{ out.Req_Info.User_Notes[out.Req_Info.User_Notes.length - 1].Note_Info | slice:0:20 }}
                   <div *ngIf="out.Req_Info.User_Notes.length > 1">
                     {{ out.Req_Info.User_Notes[out.Req_Info.User_Notes.length - 2].Note_Info | slice:0:20 }}
                   </div>
                 </div>
               </td>
             </ng-container>

             <ng-container matColumnDef="FMIS">
               <th mat-header-cell *matHeaderCellDef> FMIS </th>
               <td mat-cell *matCellDef="let out"><a href="https://financials.mbta.com/psp/MTFP89_2/EMPLOYEE/ERP/c/REQUISITION_ITEMS.REQUISITIONS.GBL?Action=U&page=REQ_FORM&BUSINESS_UNIT=MBTAI&REQ_ID={{out.REQ_No}}" target="blank"><i class="material-icons"> link </i></a></td>
             </ng-container>

             <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
             <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
           </table>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-chip-list>

   <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20, 100]" [showFirstLastButtons]="true" [length]="totalSize"
     [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
   </mat-paginator>
   <div>
     Data Last Updated: {{ dataLastUpdated?.last_updated_time | date:'medium' }}
   </div>
  </div>
</div>
<router-outlet></router-outlet>
