.container {
  margin-left: 200px;
}

.req-container {
  padding: 20px;
  margin-top: 100px;
  margin-right: 25px;
  margin-left: 25px;
  background-color: white;
  width: calc(100vw - 275px);
}

.table-container {
  margin: 25px;
  height: 500px;
  overflow: scroll;
}

mat-tab-group {
  width: 100%;
}

mat-chip {
    transition: none !important;
    box-shadow: none !important;
}

.mat-display-1 {
  margin-top: 5px;
}

table {
  width: 100%;
}
.mat-standard-chip {
  min-height: 24px;
}

.mat-chip {
  font-size: 12px;
}

.action-chip {
  background-color: green;
}

.hold-chip {
  background-color: #F5C438;
}

.transmission-chip {
  background-color: red;
}

.material-icons.md-12 {
  font-size: 12px;
}

.material-icons.actionColor {

  font-size: 12px;
  color: green;
}

.material-icons.holdColor {
  font-size: 12px;
  color: #F5C438;
}

.material-icons.transmissionColor {
  font-size: 12px;
  color: red;
}

.mat-cell.mat-column-flag  {
  padding-top: 5px !important;
}
