/* You can add global styles to this file, and also import other style files */
@import 'theme.scss';

body, html {
  background-color: #f6f5f3;
  height: 100%;
  margin: 0;
}

@media print
{   
  
    @page {
      margin: 1cm;
    }

    .no-print, .no-print *
    {
        display: none !important;
    }
    .container {
      //font-size: 12pt;
    }

    table {
      //font-size: 12pt;
    }

    body, html {
      margin-top: -15mm;
      padding: 0 !important;
    }
}